@import "bootstrap-reboot";
@import "bootstrap-grid";
@import "utilities/align";
@import "utilities/display";
@import "utilities/text";
@import "utilities/button";


h1, h2, h3, h4, h5, h6 {
    font-family: 'Gupter', sans-serif;
}
h1 {
    line-height: 1;
    @include media-breakpoint-up(md) {
        font-size: 80px;
    }
}

.topic-list {
    li {
        display: inline-block;
        margin: 0 10px 10px;
    }

    a {
        display: block;
        background: rgba($blue, 0.4);
        border-radius: 40px;
        padding: 5px 15px 5px 5px;
        text-decoration: none;
        color: #212121;

        &:hover {
            background: $blue;
            color: #F1f1f1;
        }

        span {
            display: inline-block;
            padding: 5px;
            background: rgba($black, 0.4);
            border-radius: 50%;
            color: #FFF;
            width: 30px;
            height: 30px;
            font-size: 20px;
            line-height: 1;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
.m-logo {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba($black, 0.25);
}
