@import url(lib/fullpage.min.css);
.mb10 {
  margin-bottom: 10px; }

.mb30 {
  margin-bottom: 30px; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.d-inline-block {
  display: inline-block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.r-light {
  font-weight: 300; }

.own-container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto; }

.own-container--md {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 600; }

.relative {
  position: relative; }

.flexbox {
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */ }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  justify-content: center;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }

.color-blue {
  color: #018ae0; }

.color-black {
  color: #000; }

.bg-dark-blue {
  background: #3e7b97; }

.bg-dark-sky {
  background: #45aeae; }

.bg-dark-pink {
  background: #e23a59; }

.img-responsive {
  max-width: 100%;
  display: block;
  margin: auto; }

.btn-blue {
  display: inline-block;
  text-decoration: none;
  background: #0c213f;
  color: #FFF;
  font-size: 1.125em;
  padding: 6px 23px 8px;
  position: relative;
  z-index: 2; }

.hide {
  visibility: hidden;
  opacity: 0; }

.btn-cross {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  text-decoration: none;
  padding: 0;
  border: 0;
  font-size: 2em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none; }

.btn-submit {
  background: #018ae0;
  color: #FFF;
  font-size: 1.25em;
  height: 40px;
  font-weight: 300;
  display: block;
  width: 100%;
  border: none; }

.color-yellow {
  color: #e5d354; }

.color-blue2 {
  color: #3186c7; }

.color-black {
  color: #000; }

.color-white {
  color: white; }

.btn-default {
  font-size: 0.9125em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 7px 10px;
  border: 1px solid;
  display: inline-block; }
  .btn-default:hover {
    color: #FFF; }

.btn--white {
  color: #FFF; }
  .btn--white:hover {
    border-color: #FFF;
    background-color: #FFF;
    color: #000; }

.btn--blue {
  color: #002554; }
  .btn--blue:hover {
    border-color: #002554;
    background: #002554;
    color: #FFF; }

.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
      padding: 25px 10px; } }
  @media screen and (min-width: 993px) {
    .header {
      padding: 40px 50px; } }
  .header .header_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
    display: -moz-flex;
    display: flex;
    /* New, Spec - Firefox, Chrome, Opera */ }
  .header .link {
    text-decoration: none;
    color: #FFF;
    font-size: 0.875em; }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .header .link {
        margin: 0 7px; } }
    @media screen and (min-width: 993px) and (max-width: 1024px) {
      .header .link {
        font-size: 1em;
        margin: 0 15px; } }
    @media screen and (min-width: 1025px) {
      .header .link {
        font-size: 1.125em;
        margin: 0 30px; } }
    .header .link:hover {
      color: #009bb6; }
    .header .link.active {
      color: #009bb6; }

@media screen and (min-width: 1025px) {
  .header--home {
    padding-right: 66px; } }
.header--home .logo {
  opacity: 0;
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .header .menu-icon {
    display: block;
    position: relative;
    z-index: 11; }
  .header .bar1, .header .bar2, .header .bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s; }
  .header .header_nav {
    position: fixed;
    background: #FFF;
    color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77);
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77); }
  .header .header_list {
    margin: 0;
    padding: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Firefox 28+, IE11, Opera 12.10 */ }
  .header .link {
    font-size: 1em;
    color: #000;
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .header li {
    white-space: nowrap; }
  .header .overlay {
    position: fixed;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s linear, visibility 0.25s linear; }

  .menu-active {
    overflow: hidden; }
    .menu-active .header {
      z-index: 101; }
    .menu-active .overlay {
      opacity: 1;
      visibility: visible; }
    .menu-active .bar1 {
      transform-origin: right center;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg); }
    .menu-active .bar2 {
      opacity: 0; }
    .menu-active .bar3 {
      transform-origin: right center;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    .menu-active .header_nav {
      width: 70%; } }
#fp-nav ul li, .fp-slidesNav ul li {
  height: 24px; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 8px;
  width: 8px;
  background: #FFF;
  margin: -4px 0 0 -4px; }

#fp-nav ul li .fp-tooltip.fp-right {
  line-height: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  border-radius: 15px 0 0 15px;
  margin-right: 16px;
  overflow: inherit; }
  #fp-nav ul li .fp-tooltip.fp-right::after {
    content: "";
    border-left: 20px solid rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    left: 100%; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border-radius: initial;
  background: #009bb6;
  transform: rotate(45deg); }

.bg1 {
  background-color: #f9af87; }

.bg2 {
  background-color: #a1aeff; }

.bg3 {
  background-color: #42e8d9; }

.bg4 {
  background-color: #ffedad; }

.bg5 {
  background-color: #48c7ef; }

.section {
  background-repeat: no-repeat, no-repeat; }
  .section:not(.no-bg) {
    background-position: top right, left bottom;
    background-image: url("../img/home/bg1.png"), url("../img/home/bg2.png"); }
  @media screen and (max-width: 767px) {
    .section {
      min-height: 750px;
      display: -webkit-box;
      /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
      display: -moz-flex;
      display: flex;
      /* New, Spec - Firefox, Chrome, Opera */
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      /* Safari 7.0+, Chrome 21.0+ */
      -moz-align-items: center;
      align-items: center;
      /* Firefox 20.0+, IE11+, Opera 12.10 */
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      /* Chrome 21+, Safari Not supported. */
      -moz-justify-content: center;
      /* Chrome 21+, Safari Not supported. */
      justify-content: center;
      /* Firefox 20+, Opera 12.10, IE Not supported. */ }
      .section.no-bg {
        min-height: 100%;
        min-height: 100vh; } }
  .section img {
    max-width: 100%; }

.main-banner {
  position: absolute;
  background-size: cover;
  background-image: url("../img/home/banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%; }

[class^=section-] {
  padding: 0 15px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Firefox 28+, IE11, Opera 12.10 */ }
  @media screen and (min-width: 768px) {
    [class^=section-] {
      padding: 0 30px;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
  [class^=section-] [class*=-col] {
    flex: 1; }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      [class^=section-] [class*=-col] {
        padding-right: 40px; } }
    @media screen and (min-width: 992px) {
      [class^=section-] [class*=-col] {
        padding-right: 50px; } }
  @media screen and (min-width: 1024px) {
    [class^=section-] .left-col {
      padding-left: 110px; } }
  [class^=section-] h2 {
    font-size: 2em; }
  [class^=section-] p {
    font-size: 1.125em;
    margin-bottom: 1.5em; }

.section-1 {
  z-index: 9;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .section-1 {
      padding: 70px 0 0; } }
  .section-1 p {
    font-size: 2.25em;
    color: #FFF;
    margin: 20px 0 0; }

/*# sourceMappingURL=home.css.map */
