@import url(lib/fullpage.min.css);
.mb10 {
  margin-bottom: 10px; }

.mb30 {
  margin-bottom: 30px; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.d-inline-block {
  display: inline-block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.r-light {
  font-weight: 300; }

.own-container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto; }

.own-container--md {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 600; }

.relative {
  position: relative; }

.flexbox {
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */ }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  justify-content: center;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }

.color-blue {
  color: #018ae0; }

.color-black {
  color: #000; }

.bg-dark-blue {
  background: #3e7b97; }

.bg-dark-sky {
  background: #45aeae; }

.bg-dark-pink {
  background: #e23a59; }

.img-responsive {
  max-width: 100%;
  display: block;
  margin: auto; }

.btn-blue {
  display: inline-block;
  text-decoration: none;
  background: #0c213f;
  color: #FFF;
  font-size: 1.125em;
  padding: 6px 23px 8px;
  position: relative;
  z-index: 2; }

.hide {
  visibility: hidden;
  opacity: 0; }

.btn-cross {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  text-decoration: none;
  padding: 0;
  border: 0;
  font-size: 2em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none; }

.btn-submit {
  background: #018ae0;
  color: #FFF;
  font-size: 1.25em;
  height: 40px;
  font-weight: 300;
  display: block;
  width: 100%;
  border: none; }

.color-yellow {
  color: #e5d354; }

.color-blue2 {
  color: #3186c7; }

.color-black {
  color: #000; }

.color-white {
  color: white; }

.btn-default {
  font-size: 0.9125em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 7px 10px;
  border: 1px solid;
  display: inline-block; }
  .btn-default:hover {
    color: #FFF; }

.btn--white {
  color: #FFF; }
  .btn--white:hover {
    border-color: #FFF;
    background-color: #FFF;
    color: #000; }

.btn--blue {
  color: #002554; }
  .btn--blue:hover {
    border-color: #002554;
    background: #002554;
    color: #FFF; }

.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
      padding: 25px 10px; } }
  @media screen and (min-width: 993px) {
    .header {
      padding: 40px 50px; } }
  .header .header_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
    display: -moz-flex;
    display: flex;
    /* New, Spec - Firefox, Chrome, Opera */ }
  .header .link {
    text-decoration: none;
    color: #FFF;
    font-size: 0.875em; }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .header .link {
        margin: 0 7px; } }
    @media screen and (min-width: 993px) and (max-width: 1024px) {
      .header .link {
        font-size: 1em;
        margin: 0 15px; } }
    @media screen and (min-width: 1025px) {
      .header .link {
        font-size: 1.125em;
        margin: 0 30px; } }
    .header .link:hover {
      color: #009bb6; }
    .header .link.active {
      color: #009bb6; }

@media screen and (min-width: 1025px) {
  .header--home {
    padding-right: 66px; } }
.header--home .logo {
  opacity: 0;
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .header .menu-icon {
    display: block;
    position: relative;
    z-index: 11; }
  .header .bar1, .header .bar2, .header .bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s; }
  .header .header_nav {
    position: fixed;
    background: #FFF;
    color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77);
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77); }
  .header .header_list {
    margin: 0;
    padding: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Firefox 28+, IE11, Opera 12.10 */ }
  .header .link {
    font-size: 1em;
    color: #000;
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .header li {
    white-space: nowrap; }
  .header .overlay {
    position: fixed;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s linear, visibility 0.25s linear; }

  .menu-active {
    overflow: hidden; }
    .menu-active .header {
      z-index: 101; }
    .menu-active .overlay {
      opacity: 1;
      visibility: visible; }
    .menu-active .bar1 {
      transform-origin: right center;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg); }
    .menu-active .bar2 {
      opacity: 0; }
    .menu-active .bar3 {
      transform-origin: right center;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    .menu-active .header_nav {
      width: 70%; } }
.bg1 {
  background-color: #f79f6f; }

.bg2 {
  background-color: #a1aeff; }

.bg3 {
  background-color: #42e8d9; }

.bg4 {
  background-color: #ffedad; }

.bg5 {
  background-color: #48c7ef; }

.banner-box {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 50px;
  position: relative;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }
  .banner-box h1 {
    font-size: 2em;
    color: #FFF;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .banner-box h1 {
        font-size: 3em; } }
  .banner-box:not(.no-bg) {
    background-position: top right, left bottom;
    background-image: url("../img/home/bg1.png"), url("../img/home/bg2.png"); }
  .banner-box .right-col {
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: .3; }

.website {
  background-image: url("../img/web/web.jpg"); }

.mobile-dev {
  background-image: url("../img/app.jpg"); }

.e-com {
  background-image: url("../img/e-com.jpg"); }

.seo {
  background-image: url("../img/seo.jpg"); }

.sem {
  background-image: url("../img/sem.jpg"); }

.feature-box {
  margin-bottom: 46px; }
  @media screen and (max-width: 767px) {
    .feature-box {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
  .feature-box .feature {
    color: #FFF;
    padding: 30px;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    -webkit-box-flex: 1;
    /* Old - iOS 6-, Safari 3.1~6 */
    -moz-box-flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, Blackberry 10 */
    -moz-flex: 1;
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* New, Spec - Firefox, Chrome, Opera */ }
    @media screen and (min-width: 768px) {
      .feature-box .feature {
        height: 200px; } }

.feature-info {
  max-width: 1230px;
  margin: 0 auto 3em;
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
  padding: 0 15px; }

.cycle-box {
  position: relative;
  margin-bottom: 100px; }
  .cycle-box .max-width {
    max-width: 1350px; }
    @media screen and (max-width: 1024px) {
      .cycle-box .max-width {
        -webkit-flex-wrap: wrap;
        /* Safari 6.1+, Chrome 21.0+, Android 4.4+, iOS 7.0+ */
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /* Firefox 28+, IE11, Opera 12.10 */ } }
    @media screen and (min-width: 1025px) {
      .cycle-box .max-width {
        width: 94%; } }
  .cycle-box .image-box {
    width: 50%;
    position: relative;
    text-align: center;
    z-index: 2;
    margin-bottom: 50px; }
    .cycle-box .image-box:nth-last-of-type(1) {
      margin-bottom: 0; }
    @media screen and (min-width: 576px) {
      .cycle-box .image-box {
        width: 33%; } }
    @media screen and (min-width: 768px) {
      .cycle-box .image-box {
        width: 25%; } }
    @media screen and (min-width: 992px) {
      .cycle-box .image-box {
        width: 20%; } }
    @media screen and (min-width: 1025px) {
      .cycle-box .image-box {
        margin-bottom: 0; } }
  .cycle-box .border-solid {
    border-bottom: solid 17px;
    margin-top: -17px;
    position: relative; }
  .cycle-box .circle {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: -moz-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    -moz-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    justify-content: center;
    /* Firefox 20+, Opera 12.10, IE Not supported. */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    /* Safari 7.0+, Chrome 21.0+ */
    -moz-align-items: center;
    align-items: center;
    /* Firefox 20.0+, IE11+, Opera 12.10 */
    border: 17px solid;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    box-shadow: inset 9px 6px 10px rgba(0, 0, 0, 0.12); }
    .cycle-box .circle span {
      display: inline-block;
      background-image: url(../img/web/sprite.png);
      background-repeat: no-repeat; }
  .cycle-box .info {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 15px; }
    .cycle-box .info:before {
      content: "";
      border-top: 28px solid;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
      display: inline-block;
      margin-top: 18%;
      margin-bottom: 14%; }
  .cycle-box .first, .cycle-box .last {
    position: relative;
    flex: 1; }
    .cycle-box .first .border-solid, .cycle-box .last .border-solid {
      position: absolute;
      width: 102%;
      top: 34%;
      margin: 0;
      left: 0; }
      .cycle-box .first .border-solid span, .cycle-box .last .border-solid span {
        color: transparent; }
  .cycle-box .last .border-solid {
    left: auto;
    right: 0; }
  .cycle-box .search {
    width: 36px;
    height: 36px;
    background-position: -1px -1px; }
  .cycle-box .setting {
    width: 32px;
    height: 32px;
    background-position: -44px -1px; }
  .cycle-box .layout {
    width: 37px;
    height: 36px;
    background-position: -83px -1px; }
  .cycle-box .notes {
    width: 31px;
    height: 29px;
    background-position: -127px -1px; }
  .cycle-box .coding {
    width: 38px;
    height: 32px;
    background-position: -164px -1px; }
  .cycle-box .testing {
    width: 32px;
    height: 29px;
    background-position: -210px -1px; }
  .cycle-box .support {
    width: 29px;
    height: 27px;
    background-position: -250px -1px; }
  .cycle-box .requirement {
    width: 40px;
    height: 39px;
    background-position: 0 -43px; }
  .cycle-box .palnning {
    width: 44px;
    height: 37px;
    background-position: -44px -43px; }
  .cycle-box .development {
    width: 35px;
    height: 37px;
    background-position: -92px -43px; }
  .cycle-box .test-delivery {
    width: 34px;
    height: 34px;
    background-position: -135px -43px; }
  .cycle-box .support-main {
    width: 29px;
    height: 29px;
    background-position: -177px -43px; }
  .cycle-box .domain {
    width: 38px;
    height: 38px;
    background-position: 0 -88px; }
  .cycle-box .platform {
    width: 37px;
    height: 30px;
    background-position: -44px -88px; }
  .cycle-box .store {
    width: 40px;
    height: 33px;
    background-position: -92px -88px; }
  .cycle-box .payments {
    width: 29px;
    height: 29px;
    background-position: -139px -88px; }
  .cycle-box .upload {
    width: 30px;
    height: 20px;
    background-position: -173px -88px; }
  .cycle-box .keyword {
    width: 33px;
    height: 39px;
    background-position: -210px -43px; }
  .cycle-box .competitive {
    width: 38px;
    height: 36px;
    background-position: -250px -43px; }
  .cycle-box .onpage {
    width: 27px;
    height: 34px;
    background-position: -294px -43px; }
  .cycle-box .offpage {
    width: 44px;
    height: 40px;
    background-position: -284px 0px; }
  .cycle-box .traffic {
    width: 36px;
    height: 36px;
    background-position: -327px -43px; }
  .cycle-box .define {
    width: 37px;
    height: 40px;
    background-position: -210px -88px; }
  .cycle-box .key-research {
    width: 34px;
    height: 39px;
    background-position: -253px -88px; }
  .cycle-box .organic {
    width: 32px;
    height: 31px;
    background-position: -294px -88px; }
  .cycle-box .quality-link {
    width: 33px;
    height: 33px;
    background-position: -331px -88px; }
  .cycle-box .campaigns {
    width: 27px;
    height: 27px;
    background-position: -331px -1px; }

@media screen and (max-width: 1024px) {
  .web-design .first, .web-design .last {
    display: none; } }

@media screen and (max-width: 1024px) {
  .mobile-app .first, .mobile-app .last, .e-dev .first, .e-dev .last {
    display: none; } }
.mobile-app .first .border-solid, .mobile-app .last .border-solid, .e-dev .first .border-solid, .e-dev .last .border-solid {
  top: 37.5%; }
  @media screen and (max-width: 1024px) {
    .mobile-app .first .border-solid, .mobile-app .last .border-solid, .e-dev .first .border-solid, .e-dev .last .border-solid {
      top: 31.5%; } }
.mobile-app .max-width, .e-dev .max-width {
  width: 100%; }
  @media screen and (min-width: 1025px) {
    .mobile-app .max-width, .e-dev .max-width {
      width: 66%; } }

@media screen and (max-width: 1024px) {
  .search-marketing .first, .search-marketing .last {
    display: none; } }
.search-marketing .first .border-solid, .search-marketing .last .border-solid {
  top: 34%; }
  @media screen and (max-width: 1024px) {
    .search-marketing .first .border-solid, .search-marketing .last .border-solid {
      top: 31.5%; } }
.search-marketing .max-width {
  width: 100%; }
  @media screen and (min-width: 1025px) {
    .search-marketing .max-width {
      width: 66%; } }

.color-1 {
  color: #45aeae; }

.color-2 {
  color: #fcc82b; }

.color-3 {
  color: #e23a59; }

.color-4 {
  color: #3e7b97; }

.color-5 {
  color: #4ea582; }

.color-6 {
  color: #ea793c; }

.color-7 {
  color: #d44899; }

.service-list {
  width: 94.5%;
  max-width: 1350px;
  margin: 0 auto 100px; }
  .service-list .h4 {
    font-size: 2em;
    font-family: Oswald, sans-serif;
    margin: 0 0 10px; }
  .service-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .service-list ul + .h4 {
      margin-top: 50px; }
  .service-list li {
    position: relative;
    padding-left: 30px;
    font-weight: 300;
    font-size: 1.45em;
    line-height: 1.3; }
    .service-list li:before {
      content: "";
      background: #000;
      display: inline-block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 6px;
      top: 50%;
      margin-top: -5px; }

.footer .column-wrapper {
  position: relative;
  padding: 65px 20px 65px;
  background-color: #000;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Firefox 28+, IE11, Opera 12.10 */ }
  @media screen and (min-width: 768px) {
    .footer .column-wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
  @media screen and (min-width: 992px) {
    .footer .column-wrapper {
      padding: 65px 65px 65px; } }
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.footer a, .footer li {
  text-decoration: none;
  color: #FFF; }
.footer li {
  margin-bottom: 10px; }
.footer li:first-child {
  text-transform: uppercase;
  font-size: 1.125em;
  margin-bottom: 26px; }
.footer .mb30 {
  margin-bottom: 30px; }
.footer .footer-logo {
  position: absolute;
  right: 31px;
  bottom: 10px; }
.footer .copyright {
  margin: 0;
  padding: 25px 15px;
  font-weight: 300;
  color: #000; }
  @media screen and (max-width: 575px) {
    .footer .copyright {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .column + .column {
    margin-top: 50px; } }
.modal-box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 99;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .modal-box {
      padding: 50px; } }
  .modal-box .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .modal-box .modal-content {
    position: relative;
    z-index: 2;
    background: #FFF;
    border-radius: 8px;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .modal-box .modal-content {
        min-width: 500px; } }
  .modal-box .img-responsive {
    border-radius: 8px;
    overflow: hidden; }
  .modal-box [src="img/loader.gif"] {
    padding: 50px; }
  .modal-box .btn-cross {
    position: absolute;
    right: -19px;
    top: -19px; }

.modal-open {
  overflow: hidden; }
  .modal-open .modal-box {
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
