@import url(lib/fullpage.min.css);
.mb10 {
  margin-bottom: 10px; }

.mb30 {
  margin-bottom: 30px; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.d-inline-block {
  display: inline-block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.r-light {
  font-weight: 300; }

.own-container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto; }

.own-container--md {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 600; }

.relative {
  position: relative; }

.flexbox {
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */ }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  justify-content: center;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */ }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }

.color-blue {
  color: #018ae0; }

.color-black {
  color: #000; }

.bg-dark-blue {
  background: #3e7b97; }

.bg-dark-sky {
  background: #45aeae; }

.bg-dark-pink {
  background: #e23a59; }

.img-responsive {
  max-width: 100%;
  display: block;
  margin: auto; }

.btn-blue {
  display: inline-block;
  text-decoration: none;
  background: #0c213f;
  color: #FFF;
  font-size: 1.125em;
  padding: 6px 23px 8px;
  position: relative;
  z-index: 2; }

.hide {
  visibility: hidden;
  opacity: 0; }

.btn-cross {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  text-decoration: none;
  padding: 0;
  border: 0;
  font-size: 2em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none; }

.btn-submit {
  background: #018ae0;
  color: #FFF;
  font-size: 1.25em;
  height: 40px;
  font-weight: 300;
  display: block;
  width: 100%;
  border: none; }

.color-yellow {
  color: #e5d354; }

.color-blue2 {
  color: #3186c7; }

.color-black {
  color: #000; }

.color-white {
  color: white; }

.btn-default {
  font-size: 0.9125em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 7px 10px;
  border: 1px solid;
  display: inline-block; }
  .btn-default:hover {
    color: #FFF; }

.btn--white {
  color: #FFF; }
  .btn--white:hover {
    border-color: #FFF;
    background-color: #FFF;
    color: #000; }

.btn--blue {
  color: #002554; }
  .btn--blue:hover {
    border-color: #002554;
    background: #002554;
    color: #FFF; }

.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
      padding: 25px 10px; } }
  @media screen and (min-width: 993px) {
    .header {
      padding: 40px 50px; } }
  .header .header_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
    display: -moz-flex;
    display: flex;
    /* New, Spec - Firefox, Chrome, Opera */ }
  .header .link {
    text-decoration: none;
    color: #FFF;
    font-size: 0.875em; }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .header .link {
        margin: 0 7px; } }
    @media screen and (min-width: 993px) and (max-width: 1024px) {
      .header .link {
        font-size: 1em;
        margin: 0 15px; } }
    @media screen and (min-width: 1025px) {
      .header .link {
        font-size: 1.125em;
        margin: 0 30px; } }
    .header .link:hover {
      color: #009bb6; }
    .header .link.active {
      color: #009bb6; }

@media screen and (min-width: 1025px) {
  .header--home {
    padding-right: 66px; } }
.header--home .logo {
  opacity: 0;
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .header .menu-icon {
    display: block;
    position: relative;
    z-index: 11; }
  .header .bar1, .header .bar2, .header .bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s; }
  .header .header_nav {
    position: fixed;
    background: #FFF;
    color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77);
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.68, 0.77); }
  .header .header_list {
    margin: 0;
    padding: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Firefox 28+, IE11, Opera 12.10 */ }
  .header .link {
    font-size: 1em;
    color: #000;
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .header li {
    white-space: nowrap; }
  .header .overlay {
    position: fixed;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s linear, visibility 0.25s linear; }

  .menu-active {
    overflow: hidden; }
    .menu-active .header {
      z-index: 101; }
    .menu-active .overlay {
      opacity: 1;
      visibility: visible; }
    .menu-active .bar1 {
      transform-origin: right center;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg); }
    .menu-active .bar2 {
      opacity: 0; }
    .menu-active .bar3 {
      transform-origin: right center;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }
    .menu-active .header_nav {
      width: 70%; } }
html, body, .wrapper, .banner-box {
  min-height: 100%;
  height: 100%; }

.main-content:not(.mb0) {
  margin-bottom: 100px; }

.banner-box {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Firefox 28+, IE11, Opera 12.10 */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: center;
  /* Chrome 21+, Safari Not supported. */
  justify-content: center;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari 7.0+, Chrome 21.0+ */
  -moz-align-items: center;
  align-items: center;
  /* Firefox 20.0+, IE11+, Opera 12.10 */ }
  .banner-box .h1 {
    margin: 85px 0 0;
    position: relative;
    line-height: 1;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Oswald;
    letter-spacing: 2px;
    font-size: 2em; }
    @media screen and (min-width: 768px) {
      .banner-box .h1 {
        margin: 132px 0 0;
        font-size: 3em; } }
    @media screen and (min-width: 993px) {
      .banner-box .h1 {
        font-size: 4em; } }
    .banner-box .h1:before {
      content: '';
      position: absolute;
      width: 95%;
      height: 156%;
      border: 1px dashed;
      border-right: none;
      -webkit-transform: translate(-6%, -15%);
      transform: translate(-6%, -15%);
      z-index: 1; }
    .banner-box .h1 small {
      white-space: nowrap;
      font-size: 100%;
      position: relative;
      z-index: 2; }
  .banner-box .h3 {
    margin: 0 auto;
    padding: 2em 15px;
    font-size: 0.9125em;
    color: #FFF;
    opacity: 1;
    position: relative;
    font-weight: 300;
    max-width: 600px;
    text-align: center; }
    @media screen and (min-width: 576px) {
      .banner-box .h3 {
        font-size: 1em; } }
    @media screen and (min-width: 768px) {
      .banner-box .h3 {
        font-size: 1.325em; } }
  .banner-box .doted-border:after, .banner-box .doted-border:before {
    content: '';
    position: absolute;
    border-right: 1px dashed;
    height: 26%;
    right: 10.5%; }
  .banner-box .doted-border:before {
    top: -22%; }
  .banner-box .doted-border:after {
    bottom: -32%; }

.article-box {
  width: calc(100% - 30px);
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 70px;
  color: #002554; }
  .article-box:nth-last-of-type(1) {
    padding-bottom: 0; }
  .article-box + .article-box {
    border-top: 1px solid;
    padding-top: 60px; }
  .article-box h2 {
    font-size: 2.25em;
    margin: 0 0 15px;
    font-family: Oswald;
    font-weight: 600; }
  .article-box date, .article-box p {
    font-size: 1.25em;
    font-weight: 300; }
  .article-box .action-box {
    padding-top: 20px; }

.article-box--pink {
  background-color: #ee0c6e; }

.article-box--blue {
  background-color: #4e3090; }

.article-box--sky {
  background-color: #0099b8; }

.press-banner {
  background-image: url("../img/press/banner.jpg"); }

.our-banner {
  background-image: url("../img/work/banner.jpg"); }

.about-banner {
  background-image: url("../img/about/banner.jpg"); }
  .about-banner:before {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3); }

.service-banner {
  background-image: url("../img/service/banner.jpg"); }

.research-banner {
  background-image: url("../img/research/banner.jpg"); }

.contact-banner {
  background-image: url("../img/contact/banner.jpg"); }

.text-box {
  max-width: 1130px;
  margin: auto;
  padding: 55px 15px 75px; }
  .text-box.ptb0 {
    padding: 0 15px; }
  .text-box.pb0 {
    padding: 55px 15px 0; }
  .text-box.p0 {
    padding: 0; }
  .text-box p {
    margin: 0;
    font-size: 1em;
    font-weight: 300; }
    @media screen and (min-width: 768px) {
      .text-box p {
        font-size: 1.5em; } }
  .text-box .mail img {
    margin: 10px; }
  .text-box .mail:before, .text-box .mail:after {
    content: "";
    display: inline-block;
    width: calc(31% - 14px);
    height: 2px;
    background: #acacac; }

.our-work .h1:before {
  width: 88%;
  -webkit-transform: translate(-8%, -15%);
  transform: translate(-8%, -15%); }
.our-work .doted-border:after, .our-work .doted-border:before {
  right: 19%; }

.portfolio {
  max-width: 1280px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .portfolio {
      padding: 0 15px; } }
  .portfolio h2 {
    font-size: 1.75em;
    margin-left: -15%;
    text-align: center;
    line-height: 1;
    font-weight: 400; }
    @media screen and (min-width: 768px) {
      .portfolio h2 {
        font-size: 3em;
        margin-left: 0; } }
    .portfolio h2 span {
      display: inline-block;
      background: #002554;
      color: #FFF;
      padding: 5px 10px 8px;
      position: relative; }
  .portfolio .bulb:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: inline-block;
    background-image: url(../img/work/bulb.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 130%; }
  .portfolio .folio-text {
    text-align: center;
    max-width: 1066px;
    margin: auto;
    font-size: 1em;
    padding: 0 15px; }
    @media screen and (min-width: 768px) {
      .portfolio .folio-text {
        font-size: 1.5em;
        padding: 15px; } }
    .portfolio .folio-text p {
      margin: 0; }

.tabbed-widget {
  position: relative; }
  .tabbed-widget .tab-wrap {
    max-width: 830px;
    display: -webkit-box;
    /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
    display: -moz-flex;
    display: flex;
    /* New, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    /* Chrome 21+, Safari Not supported. */
    -moz-justify-content: space-between;
    /* Chrome 21+, Safari Not supported. */
    justify-content: space-between;
    /* Firefox 20+, Opera 12.10, IE Not supported. */
    margin: 50px 0 20px; }
    @media screen and (min-width: 768px) {
      .tabbed-widget .tab-wrap {
        padding: 0 15px;
        margin: 65px auto 80px; } }
    .tabbed-widget .tab-wrap a {
      padding: 10px;
      display: -webkit-box;
      /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
      display: -moz-flex;
      display: flex;
      /* New, Spec - Firefox, Chrome, Opera */
      text-decoration: none;
      color: #07141c;
      text-transform: uppercase;
      font-size: 0.8125em; }
      @media screen and (max-width: 767px) {
        .tabbed-widget .tab-wrap a {
          text-align: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          /* Chrome 21+, Safari Not supported. */
          -moz-justify-content: center;
          /* Chrome 21+, Safari Not supported. */
          justify-content: center;
          /* Firefox 20+, Opera 12.10, IE Not supported. */
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          /* Safari 7.0+, Chrome 21.0+ */
          -moz-align-items: center;
          align-items: center;
          /* Firefox 20.0+, IE11+, Opera 12.10 */ } }
      @media screen and (min-width: 768px) {
        .tabbed-widget .tab-wrap a {
          font-size: 16px; } }
      .tabbed-widget .tab-wrap a.active {
        color: #FFF;
        background-color: #07141c; }
  .tabbed-widget .tab-body {
    position: relative;
    min-height: 300px; }
  .tabbed-widget .tab {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 1;
    background-color: #FFF; }
    .tabbed-widget .tab.active {
      visibility: visible;
      opacity: 1;
      position: relative;
      z-index: 2; }

.tab.flexbox {
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+, Chrome 21.0+, Android 4.4+, iOS 7.0+ */
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Firefox 28+, IE11, Opera 12.10 */ }
.tab .template {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 768px) {
    .tab .template {
      width: 32%;
      margin-right: 2%; } }
  .tab .template:nth-child(3n) {
    margin-right: 0; }
  .tab .template:hover .template__caption {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
.tab .template__caption {
  position: absolute;
  background: #002554;
  width: 100%;
  padding: 25px 15px;
  text-align: center;
  bottom: 0;
  -webkit-transition: transform 0.15s linear;
  transition: transform 0.15s linear;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  height: 50%; }
.tab .h3, .tab .btn-link {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none; }
.tab .h3 {
  font-size: 1.125em;
  margin: 1.75em 0; }
.tab .btn-link {
  font-size: 0.875em;
  padding: 7px 6px;
  border-left: 4px solid #000; }
  .tab .btn-link:hover {
    text-decoration: underline; }

.about-banner .h1 {
  -webkit-transform: translateX(5%);
  transform: translateX(5%); }
.about-banner .h1:before {
  width: 89%;
  -webkit-transform: translate(-10%, -15%);
  transform: translate(-10%, -15%); }
.about-banner .doted-border:after, .about-banner .doted-border:before {
  right: 20%; }

.service-banner .h1 {
  -webkit-transform: translateX(3.5%);
  transform: translateX(3.5%); }
.service-banner .h1:before {
  -webkit-transform: translate(-7%, -15%);
  transform: translate(-7%, -15%); }
.service-banner .doted-border:after, .service-banner .doted-border:before {
  right: 11.75%; }

.research-banner .h1 {
  -webkit-transform: translateX(3%);
  transform: translateX(3%); }
.research-banner .h1:before {
  width: 91%;
  -webkit-transform: translate(-6%, -15%);
  transform: translate(-6%, -15%); }
.research-banner .doted-border:after, .research-banner .doted-border:before {
  right: 14.5%; }

.contact-banner .h1 {
  -webkit-transform: translateX(4%);
  transform: translateX(4%); }
.contact-banner .h1:before {
  width: 91%;
  -webkit-transform: translate(-8%, -15%);
  transform: translate(-8%, -15%); }
.contact-banner .doted-border:after, .contact-banner .doted-border:before {
  right: 16%; }

.feature .h2 {
  font-weight: normal;
  font-size: 3em;
  margin: 0 0 1em; }
  .feature .h2:not(.no-line):after {
    content: "";
    display: inline-block;
    width: calc(100% - 300px);
    height: 1px;
    background: #000;
    vertical-align: middle;
    margin-left: 20px; }
  .feature .h2 strong {
    background: #3186c7;
    color: #FFF;
    display: inline-block;
    padding: 0 13px; }
.feature p {
  line-height: 1.75;
  font-size: 1.5em;
  margin: 0; }
  @media screen and (min-width: 992px) {
    .feature p {
      padding-right: 1.5em; } }
.feature .col-left, .feature .col-right {
  -webkit-box-flex: 1;
  /* Old - iOS 6-, Safari 3.1~6 */
  -moz-box-flex: 1;
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, Blackberry 10 */
  -moz-flex: 1;
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* New, Spec - Firefox, Chrome, Opera */
  padding-bottom: 90px; }
.feature iframe {
  width: 100%;
  height: 400px; }

.research .feature {
  padding-top: 120px; }
  @media screen and (max-width: 1024px) {
    .research .feature {
      padding: 80px 15px 0; } }
  @media screen and (max-width: 991px) {
    .research .feature {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* Firefox 28+, IE11, Opera 12.10 */ } }

.news-box {
  background: #59b5fa;
  padding: 94px 15px; }
  @media screen and (max-width: 767px) {
    .news-box .own-container {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
  .news-box h2 {
    font-family: Oswald, sans-serif;
    font-size: 3em;
    color: #FFF;
    margin: 0 0 1em; }
    .news-box h2 span {
      background: #0c213f;
      display: inline-block;
      padding: 5px 10px 10px; }
  .news-box .left, .news-box .right {
    flex: 1; }
  .news-box .left {
    padding-bottom: 100px; }
    @media screen and (min-width: 768px) {
      .news-box .left {
        padding-right: 34px;
        padding-bottom: 20px;
        border-right: 1px solid #0c213f; } }
  @media screen and (min-width: 768px) {
    .news-box .right {
      padding-left: 34px;
      max-width: 680px; } }
  .news-box .line-blue {
    flex: 1;
    height: 2px;
    background: #0c213f; }
  .news-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 36px; }
  .news-box .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #0c213f;
    cursor: pointer; }
    .news-box .circle.active {
      background: #0c213f; }
    .news-box .circle + .circle {
      margin-left: 8px; }
  .news-box .my-slider {
    margin-bottom: 38px; }

.news + .news {
  margin-top: 60px; }
.news h3 {
  font-size: 30px;
  color: #FFF;
  margin: 0 0 .5em;
  line-height: 1.3; }
.news p {
  margin: 0 0 .75em;
  font-size: 1.25em;
  color: #010101;
  font-weight: 300; }
.news date {
  color: #010101;
  font-size: 1.125em;
  font-weight: 300; }
.news a {
  display: inline-block;
  text-decoration: none;
  background: #0c213f;
  color: #FFF;
  font-size: 1.125em;
  padding: 6px 23px 8px;
  position: relative;
  z-index: 2; }
.news .action-box:before {
  content: '';
  display: block;
  height: 2px;
  background: #0c213f;
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1; }

.my-slider {
  position: relative; }
  .my-slider .slide:not(.active) {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; }

.slide .h4 {
  color: #000;
  font-size: 2em;
  font-weight: 600; }
.slide p {
  font-size: 1.5em;
  color: #010101;
  font-weight: 300;
  line-height: 1.6; }

.contact-us .h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    .contact-us .h2 {
      font-size: 3em; } }
  .contact-us .h2 span {
    display: inline-block;
    background: #002554;
    color: #FFF;
    padding: 4px 10px;
    position: relative;
    margin-right: 5%; }
    .contact-us .h2 span:after {
      content: "";
      display: inline-block;
      top: 0;
      margin-left: 10%;
      vertical-align: middle;
      position: absolute;
      width: 34%;
      background: url(../img/contact/send.jpg) no-repeat;
      height: 100%;
      background-size: contain; }

@media screen and (max-width: 1024px) {
  .form-wrapper {
    padding: 0 15px; } }
@media screen and (max-width: 767px) {
  .form-wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Firefox 28+, IE11, Opera 12.10 */ } }
.form-wrapper .col-6 {
  -webkit-box-flex: 1;
  /* Old - iOS 6-, Safari 3.1~6 */
  -moz-box-flex: 1;
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, Blackberry 10 */
  -moz-flex: 1;
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* New, Spec - Firefox, Chrome, Opera */ }
.form-wrapper .contact-form {
  padding: 23px 23px 40px;
  background: #ebebeb; }

.contact-form {
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    .contact-form {
      max-width: 92%; } }
  .contact-form p {
    margin: 0 0 15px;
    font-size: 0.875em; }
  .contact-form label {
    display: block;
    font-size: 1.125em;
    margin-bottom: 0.5em; }
  .contact-form .input-group + .input-group {
    margin-top: 1.5em; }
  .contact-form input:not(.no-style), .contact-form textarea {
    min-height: 40px;
    resize: none;
    display: block;
    width: 100%; }

.address-box {
  color: #863c96; }
  @media screen and (max-width: 767px) {
    .address-box {
      margin-top: 50px; } }
  .address-box .address__title {
    font-family: Oswald, sans-serif;
    font-size: 3em;
    margin: 0 0 20px;
    line-height: .8; }
  .address-box address {
    font-style: normal;
    font-size: 1.125em;
    margin-bottom: 18px; }
    .address-box address span:first-child {
      margin-bottom: 4px; }
  .address-box .write-us, .address-box .phone-box {
    font-size: 1.125em;
    margin-bottom: 18px; }
    .address-box .write-us a, .address-box .phone-box a {
      color: #863c96;
      text-decoration: none; }

.service-page .service-text {
  max-width: 1034px;
  margin: auto;
  text-align: center; }
.service-page .feature {
  padding: 4em 0; }
  .service-page .feature .h2 {
    margin-bottom: 10px; }
    @media screen and (max-width: 575px) {
      .service-page .feature .h2 {
        font-size: 2.5em; } }
  .service-page .feature p {
    padding: 0;
    font-size: 1.25em;
    line-height: 1.3; }
.service-page .color1 {
  background: #d15a47; }
  .service-page .color1:before {
    border: 2px solid #884c42; }
.service-page .color2 {
  background: #294eb0; }
  .service-page .color2:before {
    border: 2px solid #203b82; }
.service-page .color3 {
  background: #0b8fc6; }
  .service-page .color3:before {
    border: 2px solid #23647f; }
.service-page .color4 {
  background: #dc8c3b; }
  .service-page .color4:before {
    border: 2px solid #8e6338; }
.service-page .color5 {
  background: #3f96e6; }
  .service-page .color5:before {
    border: 2px solid #3a6994; }
.service-page .img-sprite {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/web/sprite.png);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.service-page .web {
  width: 27px;
  height: 42px;
  background-position: 0 -130px; }
.service-page .app {
  width: 35px;
  height: 37px;
  background-position: -34px -130px; }
.service-page .com {
  width: 43px;
  height: 43px;
  background-position: -84px -130px; }
.service-page .seo {
  width: 42px;
  height: 40px;
  background-position: -141px -130px; }
.service-page .sem {
  width: 37px;
  height: 43px;
  background-position: -196px -130px; }
.service-page .icon-bg {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 120px 135px 110px 90px; }
  .service-page .icon-bg:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 5px;
    border-radius: 130px 120px 160px 130px; }
.service-page .water-wave, .service-page .water-wave::before {
  -webkit-animation: water-wave 3s linear infinite;
  -moz-animation: water-wave 3s linear infinite;
  -o-animation: water-wave 3s linear infinite;
  -ms-animation: water-wave 3s linear infinite;
  animation: water-wave 3s linear infinite; }
@media screen and (max-width: 1024px) {
  .service-page .row.flexbox {
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+, Chrome 21.0+, Android 4.4+, iOS 7.0+ */
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Firefox 28+, IE11, Opera 12.10 */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    -moz-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    justify-content: center;
    /* Firefox 20+, Opera 12.10, IE Not supported. */ } }
.service-page .service-box {
  padding: 0 15px;
  -webkit-box-flex: 1;
  /* Old - iOS 6-, Safari 3.1~6 */
  -moz-box-flex: 1;
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, Blackberry 10 */
  -moz-flex: 1;
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* New, Spec - Firefox, Chrome, Opera */ }
  @media screen and (max-width: 1024px) {
    .service-page .service-box {
      min-width: 32%;
      max-width: 32%;
      margin-bottom: 30px; } }
  @media screen and (max-width: 991px) {
    .service-page .service-box {
      min-width: 45%;
      max-width: 45%; } }
  @media screen and (max-width: 575px) {
    .service-page .service-box {
      min-width: 100%;
      max-width: 100%; } }
.service-page .service-content {
  text-align: center;
  padding: 40px 14px 25px;
  transition: top 0.15s linear; }
  .service-page .service-content:hover {
    top: -7px; }
  .service-page .service-content h4 {
    font-family: Oswald, sans-serif;
    font-size: 1.125em; }
    .service-page .service-content h4 a {
      text-decoration: none;
      color: #000; }
  .service-page .service-content p {
    color: #808080; }
.service-page .bg-map {
  padding-bottom: 120px;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-image: url(../img/big_map.png);
  background-size: cover; }
  @media screen and (max-width: 1292px) {
    .service-page .bg-map {
      padding: 0 15px 120px; } }

.about-us .own-container-inner {
  max-width: 795px;
  margin: auto; }
.about-us .own-container1 {
  max-width: 1090px;
  margin: auto; }
.about-us .feature h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  border-left: 5px solid #3186c7;
  padding: 3px 13px 6px; }
.about-us .feature strong {
  background: none;
  color: #3186c7;
  padding: 0; }
.about-us .feature--white h2 {
  border-color: #FFF;
  margin-bottom: 60px; }
.about-us .feature--white strong {
  color: #FFF; }
.about-us .text-box {
  max-width: 870px; }
  .about-us .text-box p {
    font-size: 1.25em;
    font-weight: normal; }
.about-us .service-map-box p {
  margin: 0;
  text-align: center;
  font-size: 1.125em; }
.about-us .img-box {
  margin: auto;
  max-width: 830px;
  padding-top: 30px; }
.about-us .own-container {
  max-width: 920px; }
@media screen and (max-width: 1024px) {
  .about-us .support-text {
    padding: 0 30px; } }
.about-us .gray-box {
  background: #f3f3f3;
  padding: 35px 2% 10px; }
.about-us .gray-box--padding {
  padding: 70px 2%; }
.about-us .white-box {
  padding: 40px 2% 0; }
.about-us .orange-box {
  background: #5de8d9;
  padding: 35px 2% 86px;
  background-image: url(../img/about/left-up-arrow.png), url(../img/about/right-up-arrow.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom; }
  @media screen and (max-width: 1024px) {
    .about-us .orange-box {
      padding-bottom: 130px; } }
  .about-us .orange-box .justify-between {
    max-width: 926px; }
@media screen and (max-width: 991px) {
  .about-us .mission-wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Firefox 28+, IE11, Opera 12.10 */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    /* Safari 7.0+, Chrome 21.0+ */
    -moz-align-items: center;
    align-items: center;
    /* Firefox 20.0+, IE11+, Opera 12.10 */ }
    .about-us .mission-wrapper .mission-box {
      width: 200px;
      height: 150px;
      margin-bottom: 30px; }
    .about-us .mission-wrapper .down-arrow {
      right: 11px;
      left: auto; }
    .about-us .mission-wrapper .box-num {
      bottom: auto;
      left: auto; } }
.about-us .key-list {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Firefox 28+, IE11, Opera 12.10 */ }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-us .key-list {
      padding: 15px 15px 15px 30px; } }
  @media screen and (min-width: 1025px) {
    .about-us .key-list {
      padding: 0 15px; } }
  @media screen and (min-width: 992px) {
    .about-us .key-list {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      /* Chrome 21+, Safari Not supported. */
      -moz-justify-content: space-between;
      /* Chrome 21+, Safari Not supported. */
      justify-content: space-between;
      /* Firefox 20+, Opera 12.10, IE Not supported. */
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
.about-us .key-box {
  margin-bottom: 3em; }
  @media screen and (min-width: 992px) {
    .about-us .key-box {
      max-width: 420px; } }
  @media screen and (max-width: 767px) {
    .about-us .key-box {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
.about-us .key-box__img {
  z-index: 3;
  position: absolute;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  width: 88px;
  height: 88px;
  margin-bottom: 30px;
  border-radius: 50%; }
  @media screen and (min-width: 768px) {
    .about-us .key-box__img {
      margin-bottom: 30px; } }
  .about-us .key-box__img .img-responsive {
    padding: 20%; }
.about-us .bg-yellow {
  background: #ffbd1a; }
.about-us .bg-magenta {
  background: #cd2d5f; }
.about-us .key-box__text {
  position: relative;
  z-index: 1;
  height: calc(100% - 45px);
  background: #FFF;
  border-radius: 8px;
  margin: 45px 0 0 35px;
  padding: 25px 30px 20px; }
  .about-us .key-box__text h5 {
    font-family: 'Oswald', sans-serif;
    margin: 0 0 0.5em;
    font-size: 1.125em;
    text-transform: uppercase;
    padding-left: 30px; }
  .about-us .key-box__text p {
    margin-bottom: 0;
    font-size: 1em;
    color: #808080; }
.about-us .skill-list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+, Chrome 21.0+, Android 4.4+, iOS 7.0+ */
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Firefox 28+, IE11, Opera 12.10 */ }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-us .skill-list {
      padding: 15px 15px 15px 30px; } }
  .about-us .skill-list li {
    -webkit-box-flex: 1;
    /* Old - iOS 6-, Safari 3.1~6 */
    -moz-box-flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, Blackberry 10 */
    -moz-flex: 1;
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* New, Spec - Firefox, Chrome, Opera */
    text-align: center;
    margin-bottom: 50px; }
    @media screen and (min-width: 992px) {
      .about-us .skill-list li {
        min-width: 25%; } }
    @media screen and (min-width: 1025px) {
      .about-us .skill-list li {
        min-width: 20%; } }
  .about-us .skill-list span {
    display: block;
    color: #646464;
    font-size: 1em;
    line-height: 1.3;
    padding-top: 10px; }
  .about-us .skill-list img {
    max-width: 44%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transform: scale(1);
    transform: scale(1); }
    .about-us .skill-list img.mw60 {
      max-width: 60%; }
    .about-us .skill-list img.mw55 {
      max-width: 55%; }
.about-us .skill-img {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background: #FFF;
  display: inline-grid !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -moz-inline-flex;
  display: inline-flex;
  border-radius: 100%;
  width: 110px;
  height: 110px; }
  @media screen and (max-width: 991px) {
    .about-us .skill-img {
      width: 120px;
      height: 120px; } }
  .about-us .skill-img:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
.about-us .color1 {
  background: #ffc034; }
.about-us .color2 {
  background: #7864ae; }
.about-us .color3 {
  background: #f9933d; }
.about-us .gredient1 {
  background: #ff9801;
  background: -moz-linear-gradient(top, #ff9801 1%, #f46f6d 100%);
  background: -webkit-linear-gradient(top, #ff9801 1%, #f46f6d 100%);
  background: linear-gradient(to bottom, #ff9801 1%, #f46f6d 100%); }
  @media screen and (min-width: 992px) {
    .about-us .gredient1 {
      background: #ff9801;
      background: -moz-linear-gradient(left, #ff9801 1%, #f46f6d 100%);
      background: -webkit-linear-gradient(left, #ff9801 1%, #f46f6d 100%);
      background: linear-gradient(to right, #ff9801 1%, #f46f6d 100%); } }
.about-us .gredient2 {
  background: #f46f6d;
  background: -moz-linear-gradient(top, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
  background: -webkit-linear-gradient(top, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
  background: linear-gradient(to bottom, #f46f6d 0%, #f46f6d 0%, #0094c7 100%); }
  @media screen and (min-width: 992px) {
    .about-us .gredient2 {
      background: #f46f6d;
      background: -moz-linear-gradient(left, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
      background: -webkit-linear-gradient(left, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
      background: linear-gradient(to right, #f46f6d 0%, #f46f6d 0%, #0094c7 100%); } }
.about-us .gredient3 {
  background: #f46f6d;
  background: -moz-linear-gradient(top, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
  background: -webkit-linear-gradient(top, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
  background: linear-gradient(to bottom, #f46f6d 0%, #0094c7 0%, #00bbb0 100%); }
  @media screen and (min-width: 992px) {
    .about-us .gredient3 {
      background: #f46f6d;
      background: -moz-linear-gradient(left, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
      background: -webkit-linear-gradient(left, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
      background: linear-gradient(to right, #f46f6d 0%, #0094c7 0%, #00bbb0 100%); } }
.about-us .gredient4 {
  background: #00bbb0;
  background: -moz-linear-gradient(top, #00bbb0 0%, #f46f6d 100%);
  background: -webkit-linear-gradient(top, #00bbb0 0%, #f46f6d 100%);
  background: linear-gradient(to bottom, #00bbb0 0%, #f46f6d 100%); }
  @media screen and (min-width: 992px) {
    .about-us .gredient4 {
      background: #00bbb0;
      background: -moz-linear-gradient(left, #00bbb0 0%, #f46f6d 100%);
      background: -webkit-linear-gradient(left, #00bbb0 0%, #f46f6d 100%);
      background: linear-gradient(to right, #00bbb0 0%, #f46f6d 100%); } }
.about-us .gredient5 {
  background: #f46f6d;
  background: -moz-linear-gradient(top, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
  background: -webkit-linear-gradient(top, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
  background: linear-gradient(to bottom, #f46f6d 0%, #005ea6 100%, #00bbb0 100%); }
  @media screen and (min-width: 992px) {
    .about-us .gredient5 {
      background: #f46f6d;
      background: -moz-linear-gradient(left, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
      background: -webkit-linear-gradient(left, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
      background: linear-gradient(to right, #f46f6d 0%, #005ea6 100%, #00bbb0 100%); } }
.about-us .about-sprite {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative; }
  .about-us .about-sprite em {
    display: -webkit-box;
    /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
    display: -moz-flex;
    display: flex;
    /* New, Spec - Firefox, Chrome, Opera */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    -moz-justify-content: center;
    /* Chrome 21+, Safari Not supported. */
    justify-content: center;
    /* Firefox 20+, Opera 12.10, IE Not supported. */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    /* Safari 7.0+, Chrome 21.0+ */
    -moz-align-items: center;
    align-items: center;
    /* Firefox 20.0+, IE11+, Opera 12.10 */
    position: relative;
    border-radius: 50%;
    margin: auto;
    width: 100%;
    height: 100%; }
    .about-us .about-sprite em:hover > img {
      -webkit-transform: scale(1.15);
      transform: scale(1.15); }
  .about-us .about-sprite img {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1); }
.about-us .mission-box {
  position: relative;
  width: 123px;
  height: 104px;
  background: #FFF;
  text-align: center;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.14); }
  .about-us .mission-box .gredient-line {
    width: calc(100% + 30px);
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    z-index: 1; }
    @media screen and (max-width: 991px) {
      .about-us .mission-box .gredient-line {
        width: 8px;
        height: calc(100% + 30px);
        bottom: 0;
        left: -4px;
        top: 50%; } }
  .about-us .mission-box p {
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 98px; }
.about-us .down-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 20px solid;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 11px; }
.about-us .arrow-orange {
  color: #ff9801; }
.about-us .arrow-pink {
  color: #f46f6d; }
.about-us .arrow-blue {
  color: #0094c7; }
.about-us .arrow-sky {
  color: #00bbb0; }
.about-us .arrow-dark-blue {
  color: #005ea6; }
.about-us ._orange {
  background: #ff9801; }
.about-us ._pink {
  background: #f46f6d; }
.about-us ._blue {
  background: #0094c7; }
.about-us ._sky {
  background: #00bbb0; }
.about-us ._dark-blue {
  background: #005ea6; }
.about-us .box-num {
  color: #FFF;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 27px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -13px;
  z-index: 2; }

.key_list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 992px) {
    .key_list {
      -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      /* Chrome 21+, Safari Not supported. */
      -moz-justify-content: space-around;
      /* Chrome 21+, Safari Not supported. */
      justify-content: space-around;
      /* Firefox 20+, Opera 12.10, IE Not supported. */
      -webkit-flex-wrap: wrap;
      /* Safari 6.1+, Chrome 21.0+, Android 4.4+, iOS 7.0+ */
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      /* Firefox 28+, IE11, Opera 12.10 */ }
      .key_list:before {
        content: '';
        display: block;
        width: calc(100% - 123px);
        position: absolute;
        border-bottom: 3px solid; } }
  @media screen and (max-width: 991px) {
    .key_list {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* Firefox 28+, IE11, Opera 12.10 */
      margin-left: 25%; } }
  @media screen and (max-width: 767px) {
    .key_list {
      margin-left: 15%; } }
  .key_list li {
    text-align: center; }
    @media screen and (max-width: 991px) {
      .key_list li {
        position: relative;
        padding-bottom: 30px; }
        .key_list li:not(.mob-heading) {
          border-left: 3px solid #212121; }
        .key_list li:not(.mob-heading):before {
          content: "";
          position: absolute;
          width: 50%;
          display: inline-block;
          height: 0;
          margin: 0 auto;
          border-bottom: 3px solid #212121;
          top: 50px;
          left: 0; } }
    @media screen and (min-width: 992px) {
      .key_list li:not(.no-line):before {
        content: "";
        position: relative;
        height: 120px;
        display: block;
        width: 0;
        margin: 0 auto;
        border-left: 3px solid #212121; } }
  @media screen and (max-width: 991px) {
    .key_list .last-list:after {
      content: "";
      background: #f3f3f3;
      position: absolute;
      width: 5px;
      height: calc(100% - 54px);
      left: -4px;
      bottom: 0; } }
  @media screen and (max-width: 991px) {
    .key_list .mob-heading {
      display: block; }
      .key_list .mob-heading:after {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #212121;
        display: block;
        position: absolute;
        bottom: 0;
        left: -9px;
        border-radius: 50%;
        background: #ada7a7; } }
  @media screen and (min-width: 992px) {
    .key_list .mob-heading {
      display: none; } }
  .key_list .mob-heading h2 {
    text-align: left; }
  .key_list h2 {
    margin: 0;
    font-family: Oswald, sans-serif;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .key_list h2 {
        margin-left: -20px; } }
    @media screen and (min-width: 992px) {
      .key_list h2 {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .key_list h2:before, .key_list h2:after {
          content: "";
          position: absolute;
          width: 18px;
          height: 18px;
          background: #ada7a7;
          border: 2px solid #000;
          border-radius: 50%;
          top: 5px; }
        .key_list h2:before {
          left: -38px; }
        .key_list h2:after {
          right: -38px; } }
  .key_list big {
    position: relative;
    z-index: 3;
    font-size: 100%;
    background: #f3f3f3; }
    @media screen and (min-width: 992px) {
      .key_list big:before, .key_list big:after {
        content: "";
        width: 20px;
        display: inline-block;
        position: absolute;
        background: #f3f3f3;
        height: 36px;
        top: 0; }
      .key_list big:before {
        left: -20px; }
      .key_list big:after {
        right: -20px; } }
  .key_list span {
    padding-top: 10px;
    display: block; }
  @media screen and (max-width: 991px) {
    .key_list .no-line {
      display: none; } }

.keys-box .own-container {
  max-width: 920px; }
.keys-box .own-container-inner {
  max-width: 850px; }

@-webkit-keyframes water-wave {
  0% {
    border-radius: 120px 135px 110px 90px; }
  25% {
    border-radius: 130px 140px 100px 110px; }
  50% {
    border-radius: 110px 97px 150px 100px; }
  75% {
    border-radius: 80px 107px 120px 90px; }
  100% {
    border-radius: 120px 135px 110px 90px; } }
@-moz-keyframes water-wave {
  0% {
    border-radius: 120px 135px 110px 90px; }
  25% {
    border-radius: 130px 140px 100px 110px; }
  50% {
    border-radius: 110px 97px 150px 100px; }
  75% {
    border-radius: 80px 107px 120px 90px; }
  100% {
    border-radius: 120px 135px 110px 90px; } }
@-o-keyframes water-wave {
  0% {
    border-radius: 120px 135px 110px 90px; }
  25% {
    border-radius: 130px 140px 100px 110px; }
  50% {
    border-radius: 110px 97px 150px 100px; }
  75% {
    border-radius: 80px 107px 120px 90px; }
  100% {
    border-radius: 120px 135px 110px 90px; } }
@keyframes water-wave {
  0% {
    border-radius: 120px 135px 110px 90px; }
  25% {
    border-radius: 130px 140px 100px 110px; }
  50% {
    border-radius: 110px 97px 150px 100px; }
  75% {
    border-radius: 80px 107px 120px 90px; }
  100% {
    border-radius: 120px 135px 110px 90px; } }
.footer .column-wrapper {
  position: relative;
  padding: 65px 20px 65px;
  background-color: #000;
  display: -webkit-box;
  /* Old - iOS 6-, Safari 3.1~6, Blackberry 7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* New - Safari 6.1+. iOS 7.1+, Blackberry 10 */
  display: -moz-flex;
  display: flex;
  /* New, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  -moz-justify-content: space-between;
  /* Chrome 21+, Safari Not supported. */
  justify-content: space-between;
  /* Firefox 20+, Opera 12.10, IE Not supported. */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Firefox 28+, IE11, Opera 12.10 */ }
  @media screen and (min-width: 768px) {
    .footer .column-wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      /* Chrome 21.0+, But Safari & Android & iOS Not supported. */
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      /* Firefox 28+, IE11, Opera 12.10 */ } }
  @media screen and (min-width: 992px) {
    .footer .column-wrapper {
      padding: 65px 65px 65px; } }
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.footer a, .footer li {
  text-decoration: none;
  color: #FFF; }
.footer li {
  margin-bottom: 10px; }
.footer li:first-child {
  text-transform: uppercase;
  font-size: 1.125em;
  margin-bottom: 26px; }
.footer .mb30 {
  margin-bottom: 30px; }
.footer .footer-logo {
  position: absolute;
  right: 31px;
  bottom: 10px; }
.footer .copyright {
  margin: 0;
  padding: 25px 15px;
  font-weight: 300;
  color: #000; }
  @media screen and (max-width: 575px) {
    .footer .copyright {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .column + .column {
    margin-top: 50px; } }
.modal-box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 99;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .modal-box {
      padding: 50px; } }
  .modal-box .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .modal-box .modal-content {
    position: relative;
    z-index: 2;
    background: #FFF;
    border-radius: 8px;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .modal-box .modal-content {
        min-width: 500px; } }
  .modal-box .img-responsive {
    border-radius: 8px;
    overflow: hidden; }
  .modal-box [src="img/loader.gif"] {
    padding: 50px; }
  .modal-box .btn-cross {
    position: absolute;
    right: -19px;
    top: -19px; }

.modal-open {
  overflow: hidden; }
  .modal-open .modal-box {
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
