@import 'lib/fullpage.min.css';
@import 'mixin/mixin';
@import 'helper/helper';
@import 'components/header';
@import 'components/sideMenu';
$colors: #f9af87, #a1aeff, #42e8d9, #ffedad, #48c7ef;
@for $i from 1 through length($colors) {
    .bg#{$i} {
        background-color: nth($colors, $i)
    }
}
.section {
    background-repeat: no-repeat, no-repeat;
    &:not(.no-bg) {
        background-position: top right, left bottom;
        background-image: url('../img/home/bg1.png'), url('../img/home/bg2.png');
    }
    @include respond-below(sm) {
        min-height: 750px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        
        &.no-bg {
            min-height: 100%;
            min-height: 100vh;
        }
    }
    img {
        max-width: 100%;
    }
}
.main-banner {
    position: absolute;
    background-size: cover;
    background-image: url('../img/home/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
}
[class^=section-] {
    padding: 0 15px;
    @include flex-direction(column);
    @media screen and (min-width: 768px) {
        padding: 0 30px;
        @include flex-direction(row);
    }
    [class*=-col] {
        flex: 1;
        @media screen and (min-width: 768px) and (max-width: 992px) {
            padding-right: 40px;
        }
        @media screen and (min-width: 992px) {
            padding-right: 50px;
        }
    }
    @media screen and (min-width: 1024px) {
        .left-col {
            padding-left: 110px;
        }
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.125em;
        margin-bottom: 1.5em;
    }
}
.section-1 {
    z-index: 9;
    padding: 0 15px;
    @media screen and (min-width: 768px) {
        padding: 70px 0 0;
    }
    p {
        font-size: 2.25em;
        color: #FFF;
        margin: 20px 0 0;
    }
}