@import 'lib/fullpage.min.css';
@import 'mixin/mixin';
@import 'helper/helper';

@import 'components/header'; //all header css goes in this ;

html, body, .wrapper, .banner-box {
    min-height: 100%;
    height: 100%;
}
.main-content:not(.mb0) {
    margin-bottom: 100px;
}
.banner-box {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    .h1 {
        margin: 85px 0 0;
        position: relative;
        line-height: 1;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Oswald;
        letter-spacing: 2px;
        font-size: 2em;

        @media screen and (min-width: 768px) {
            margin: 132px 0 0;
            font-size: 3em;
        }
        @media screen and (min-width: 993px) {
            font-size: 4em;
        }

        &:before {
            content: '';
            position: absolute;
            width: 95%;
            height: 156%;
            border: 1px dashed;
            border-right: none;
            -webkit-transform: translate(-6%, -15%);
            transform: translate(-6%, -15%);
            z-index: 1;
        }

        small {
            white-space: nowrap;
            font-size: 100%;
            position: relative;
            z-index: 2;
        }
    }
    .h3 {
        margin: 0 auto;
        padding: 2em 15px;
        font-size: 0.9125em;
        color: #FFF;
        opacity: 1;
        position: relative;
        font-weight: 300;
        max-width: 600px;
        text-align: center;

        @include respond-above(xs) {
            font-size: 1em;
        }
        @include respond-above(sm) {
            font-size: 1.325em;
        }
    }
    .doted-border {
        &:after, &:before {
            content: '';
            position: absolute;
            border-right: 1px dashed;
            height: 26%;
            right: 10.5%;
        }
        &:before {
            top: -22%;
        }
        &:after {
            bottom: -32%;
        }
    }
}
.article-box {
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 70px;
    color: $blue;

    &:nth-last-of-type(1) {
        padding-bottom: 0;
    }

    & + .article-box {
        border-top: 1px solid;
        padding-top: 60px;
    }

    h2 {
        font-size: 2.25em;
        margin: 0 0 15px;
        font-family: Oswald;
        font-weight: 600;
    }
    date, p {
        font-size: 1.25em;
        font-weight: 300;
    }
    .action-box {
        padding-top: 20px;
    }
}
.article-box--pink {
    background-color: #ee0c6e;
}
.article-box--blue {
    background-color: #4e3090;
}
.article-box--sky {
    background-color: #0099b8;
}
.press-banner {
    background-image: url('../img/press/banner.jpg');
}
.our-banner {
    background-image: url('../img/work/banner.jpg');
}
.about-banner {
    background-image: url('../img/about/banner.jpg');

    &:before {
        content: '';
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.3);
    }
}
.service-banner {
    background-image: url('../img/service/banner.jpg');
}
.research-banner {
    background-image: url('../img/research/banner.jpg');
}
.contact-banner {
    background-image: url('../img/contact/banner.jpg');
}
.text-box {
    max-width: 1130px;
    margin: auto;
    padding: 55px 15px 75px;

    &.ptb0 {
        padding: 0 15px;
    }
    &.pb0 {
        padding: 55px 15px 0;
    }
    &.p0 {
        padding: 0
    }
    p {
        margin: 0;
        font-size: 1em;
        font-weight: 300;

        @include respond-above(sm) {
            font-size: 1.5em;
        }
    }
    .mail {
        img {
            margin: 10px;
        }
    }
    .mail:before, .mail:after {
        content: "";
        display: inline-block;
        width: calc(31% - 14px);
        height: 2px;
        background: #acacac;
    }
}
.our-work {
    .h1:before {
        width: 88%;
        -webkit-transform: translate(-8%, -15%);
        transform: translate(-8%, -15%);
    }
    .doted-border:after, .doted-border:before {
        right: 19%;
    }
}
.portfolio {
    max-width: 1280px;
    margin: auto;
    
    @include respond-above(sm) {
        padding: 0 15px;
    }

    h2 {
        font-size: 1.75em;
        margin-left: -15%;
        text-align: center;
        line-height: 1;
        font-weight: 400;

        @include respond-above(sm) {
            font-size: 3em;
            margin-left: 0;
        }

        span {
            display: inline-block;
            background: $blue;
            color: #FFF;
            padding: 5px 10px 8px;
            position: relative;
        }
    }
    .bulb:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        display: inline-block;
        background-image: url(../img/work/bulb.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        height: 130%;
    }

    .folio-text {
        text-align: center;
        max-width: 1066px;
        margin: auto;
        font-size: 1em;
        padding: 0 15px;

        @include respond-above(sm) {
            font-size: 1.5em;
            padding: 15px;
        }
        p {
            margin: 0;
        }
    }
}
.tabbed-widget {
    position: relative;
    .tab-wrap {
        max-width: 830px;
        @include flexbox;
        @include justify-content(space-between);
        margin: 50px 0 20px;

        @include respond-above(sm) {
            padding: 0 15px;
            margin: 65px auto 80px;
        }
        
        a {
            padding: 10px;
            @include flexbox;
            text-decoration: none;
            color: #07141c;
            text-transform: uppercase;
            font-size: 0.8125em;
            @include respond-below(sm) {
                text-align: center;
                @include justify-content(center);
                @include align-items(center);
            }
            @include respond-above(sm) {
                font-size: 16px;
            }
            &.active {
                color: #FFF;
                background-color: #07141c;
            }
        }
    }
    .tab-body {
        position: relative;
        min-height: 300px;
    }
    .tab {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 1;
        background-color: #FFF;

        &.active {
            visibility: visible;
            opacity: 1;
            position: relative;
            z-index: 2;
        }
    }
}
.tab {
    &.flexbox {
        @include flex-wrap(wrap);
    }
    .template {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,.2);
        
        @include respond-above(sm) {
            width: 32%;
            margin-right: 2%;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:hover {
            .template__caption {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
    .template__caption {
        position: absolute;
        background: $blue;
        width: 100%;
        padding: 25px 15px;
        text-align: center;
        bottom: 0;
        -webkit-transition: transform 0.15s linear;
        transition: transform 0.15s linear;
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
        height: 50%
    }
    .h3, .btn-link {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 300;
        text-decoration: none;
    }
    .h3 {
        font-size: 1.125em;
        margin: 1.75em 0;
    }
    .btn-link {
        font-size: 0.875em;
        padding: 7px 6px;
        border-left: 4px solid #000;
        &:hover {
            text-decoration: underline;
        }
    }
}
.about-banner {
    .h1 {
        -webkit-transform: translateX(5%);
        transform: translateX(5%);
    }
    .h1:before {
        width: 89%;
        -webkit-transform: translate(-10%, -15%);
        transform: translate(-10%, -15%);
    }
    .doted-border:after, .doted-border:before {
        right: 20%;
    }
}
.service-banner {
    .h1 {
        -webkit-transform: translateX(3.5%);
        transform: translateX(3.5%);
    }

    .h1:before {
        -webkit-transform: translate(-7%, -15%);
        transform: translate(-7%, -15%);
    }
    .doted-border:after, .doted-border:before {
        right: 11.75%;
    }
}
.research-banner {
    .h1 {
        -webkit-transform: translateX(3%);
        transform: translateX(3%);
    }
    .h1:before {
        width: 91%;
        -webkit-transform: translate(-6%, -15%);
        transform: translate(-6%, -15%);
    }
    .doted-border:after, .doted-border:before {
        right: 14.5%;
    }
}
.contact-banner {
    .h1 {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
    .h1:before {
        width: 91%;
        -webkit-transform: translate(-8%, -15%);
        transform: translate(-8%, -15%);
    }
    .doted-border:after, .doted-border:before {
        right: 16%;
    }
}
.feature {
    .h2 {
        font-weight: normal;
        font-size: 3em;
        margin: 0 0 1em;

        &:not(.no-line):after {
            content: "";
            display: inline-block;
            width: calc(100% - 300px);
            height: 1px;
            background: #000;
            vertical-align: middle;
            margin-left: 20px;
        }

        strong {
            background: #3186c7;
            color: #FFF;
            display: inline-block;
            padding: 0 13px;
        }
    }
    p {
        line-height: 1.75;
        font-size: 1.5em;
        margin: 0;

        @media screen and (min-width: 992px) {
            padding-right: 1.5em;
        }
    }
    .col-left, .col-right {
        @include flex(1);
        padding-bottom: 90px;
    }
    iframe {
        width: 100%;
        height: 400px;
    }
}
.research {
    .feature {
        padding-top: 120px;

        @include respond-below(tb) {
            padding: 80px 15px 0;
        }
        @include respond-below(md) {
            @include flex-direction(column);
        }

    }
}
.news-box {
    background: #59b5fa;
    padding: 94px 15px;

    @include respond-below(sm) {
        .own-container {
            @include flex-direction(column)
        }
    }

    h2 {
        font-family: Oswald, sans-serif;
        font-size: 3em;
        color: #FFF;
        margin: 0 0 1em;

        span {
            background: #0c213f;
            display: inline-block;
            padding: 5px 10px 10px;
        }
    }
    .left, .right {
        flex: 1;
    }
    .left {
        padding-bottom: 100px;
        @include respond-above(sm) {
            padding-right: 34px;
            padding-bottom: 20px;
            border-right: 1px solid #0c213f;
        }
    }
    .right {
        @include respond-above(sm) {
            padding-left: 34px;
            max-width: 680px;
        }
    }
    .line-blue {
        flex: 1;
        height: 2px;
        background: #0c213f;
    }
    ul {
        list-style-type: none; 
        margin: 0;
        padding: 0 0 0 36px;
    }
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #0c213f;
        cursor: pointer;

        &.active {
            background: #0c213f;
        }
        & + .circle {
            margin-left: 8px;
        }
    }
    .my-slider {
        margin-bottom: 38px;
    }
}
.news {
    & + .news {
        margin-top: 60px;
    }
    h3 {
        font-size: 30px;
        color: #FFF;
        margin: 0 0 .5em;
        line-height: 1.3;
    }
    p {
        margin: 0 0 .75em;
        font-size: 1.25em;
        color: #010101;
        font-weight: 300;
    }
    date {
        color: #010101;
        font-size: 1.125em;
        font-weight: 300;
    }

    a {
        display: inline-block;
        text-decoration: none;
        background: #0c213f;
        color: #FFF;
        font-size: 1.125em;
        padding: 6px 23px 8px;
        position: relative;
        z-index: 2;
    }

    .action-box:before {
        content: '';
        display: block;
        height: 2px;
        background: #0c213f;
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 1;
    }
}
.my-slider {
    position: relative;

    .slide:not(.active) {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}
.slide {
    .h4 {
        color: #000;
        font-size: 2em;
        font-weight: 600;
    }

    p {
        font-size: 1.5em;
        color: #010101;
        font-weight: 300;
        line-height: 1.6;
    }
}
.contact-us {
    .h2 {
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        padding: 0 15px;
        line-height: 1;

        @include respond-above(sm) {
            font-size: 3em;
        }

        span {
            display: inline-block;
            background: $blue;
            color: #FFF;
            padding: 4px 10px;
            position: relative;
            margin-right: 5%;

            &:after {
                content: "";
                display: inline-block;
                top: 0;
                margin-left: 10%;
                vertical-align: middle;
                position: absolute;
                width: 34%;
                background: url(../img/contact/send.jpg) no-repeat;
                height: 100%;
                background-size: contain;
            }
        }
    }
}
.form-wrapper {
    @include respond-below(tb) {
        padding: 0 15px;
    }
    @include respond-below(sm) {
        @include flex-direction(column);
    }
    .col-6 {
        @include flex(1);
    }
    .contact-form {
        padding: 23px 23px 40px;
        background: #ebebeb;
    }
}
.contact-form {
    font-weight: 300;
    @include respond-above(sm) {
        max-width: 92%;
    }

    p {
        margin: 0 0 15px;
        font-size: 0.875em;
    }
    label {
        display: block;
        font-size: 1.125em;
        margin-bottom: 0.5em;
    }
    .input-group {
        & + .input-group {
            margin-top: 1.5em;
        }
    }
    input:not(.no-style), textarea {
        min-height: 40px;
        resize: none;
        display: block;
        width: 100%;
    }
}
.address-box {
    color: #863c96;

    @include respond-below(sm){
        margin-top: 50px;
    }

    .address__title {
        font-family: Oswald, sans-serif;
        font-size: 3em;
        margin: 0 0 20px;
        line-height: .8;
    }
    address {
        font-style: normal;
        font-size: 1.125em;
        margin-bottom: 18px;
        span:first-child {
            margin-bottom: 4px;
        }
    }
    .write-us, .phone-box {
        font-size: 1.125em;
        margin-bottom: 18px;

        a {
            color: #863c96;
            text-decoration: none;
        }
    }
}
.service-page {
    .service-text {
        max-width: 1034px;
        margin: auto;
        text-align: center;
    }
    .feature {
        padding: 4em 0;

        .h2 {
            margin-bottom: 10px;

            @include respond-below(xs) {
                font-size: 2.5em;
            }
        }
        p {
            padding: 0;
            font-size: 1.25em;
            line-height: 1.3;
        }
    }
    .color1 {
        background: #d15a47;

        &:before {
            border: 2px solid #884c42;
        }
    }
    .color2 {
        background: #294eb0;

        &:before {
            border: 2px solid #203b82;
        }
    }
    .color3 {
        background: #0b8fc6;

        &:before {
            border: 2px solid #23647f;
        }
    }
    .color4 {
        background: #dc8c3b;

        &:before {
            border: 2px solid #8e6338;
        }
    }
    .color5 {
        background: #3f96e6;

        &:before {
            border: 2px solid #3a6994;
        }
    }
    .img-sprite {
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url(../img/web/sprite.png);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .web{
        width: 27px;
        height: 42px;
        background-position: 0 -130px;
    }
    .app{
        width: 35px;
        height: 37px;
        background-position: -34px -130px;
    }
    .com{
        width: 43px;
        height: 43px;
        background-position: -84px -130px;
    }
    .seo{
        width: 42px;
        height: 40px;
        background-position: -141px -130px;
    }
    .sem{
        width: 37px;
        height: 43px;
        background-position: -196px -130px;
    }
    .icon-bg {
        position: relative;
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 120px 135px 110px 90px;

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 5px;
            border-radius: 130px 120px 160px 130px;
        }
    }
    .water-wave, .water-wave::before {
        -webkit-animation: water-wave 3s linear infinite;
        -moz-animation: water-wave 3s linear infinite;
        -o-animation: water-wave 3s linear infinite;
        -ms-animation: water-wave 3s linear infinite;
        animation: water-wave 3s linear infinite;
    }
    .row.flexbox {
        @include respond-below(tb) {
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
    .service-box {
        padding: 0 15px;
        @include flex(1);

        @include respond-below(tb) {
            min-width: 32%;
            max-width: 32%;
            margin-bottom: 30px;
        }
        @include respond-below(md) {
            min-width: 45%;
            max-width: 45%;
        }
        @include respond-below(xs) {
            min-width: 100%;
            max-width: 100%;
        }
    }
    .service-content {
        text-align: center;
        padding: 40px 14px 25px;
        transition: top 0.15s linear;

        &:hover {
            top: -7px;
        }
        h4 {
            font-family: Oswald, sans-serif;
            font-size: 1.125em;
            a{
                text-decoration: none;
                color: #000;
            }
        }

        p {
            color: #808080;
        }
    }
    .bg-map {
        padding-bottom: 120px;
        background-color: #f3f3f3;
        background-repeat: no-repeat;
        background-image: url(../img/big_map.png);
        background-size: cover;

        @media screen and (max-width: 1292px) {
            padding: 0 15px 120px;
        }
    }
}
.about-us {
    .own-container-inner {
        max-width: 795px;
        margin: auto;
    }
    .own-container1 {
        max-width: 1090px;
        margin: auto;
    }
    .feature {
        h2 {
            font-family: 'Oswald', sans-serif;
            font-size: 2em;
            border-left: 5px solid $blue2;
            padding: 3px 13px 6px;
        }
        strong {
            background: none;
            color: $blue2;
            padding: 0;
        }
    }
    .feature--white {
        h2 {
            border-color: #FFF;
            margin-bottom: 60px;
        }
        strong {
            color: #FFF;
        }
    }
    .text-box {
        max-width: 870px;
        p {
            font-size: 1.25em;
            font-weight: normal;
        }
    }
    .service-map-box {
        p {
            margin: 0;
            text-align: center;
            font-size: 1.125em;
        }
    }
    .img-box {
        margin:auto;
        max-width: 830px;
        padding-top: 30px;
    }
    .own-container {
        max-width: 920px;
    }
    .support-text {
        @include respond-below(tb) {
            padding: 0 30px;
        }
    }
    .gray-box {
        background: $light-gray;
        padding: 35px 2% 10px;
    }
    .gray-box--padding {
        padding: 70px 2%;
    }
    .white-box {
        padding: 40px 2% 0;
    }
    .orange-box {
        background: #5de8d9;
        padding: 35px 2% 86px;
        background-image: url(../img/about/left-up-arrow.png), url(../img/about/right-up-arrow.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right bottom;

        @include respond-below(tb) {
            padding-bottom: 130px;
        }
        .justify-between {
            max-width: 926px;
        }
    }
    @include respond-below(md) {
        .mission-wrapper {
                @include flex-direction(column);
                @include align-items(center);

            .mission-box {
                width: 200px;
                height: 150px;
                margin-bottom: 30px;
            }
            .down-arrow {
                right: 11px;
                left: auto;
            }
            .box-num {
                bottom: auto;
                left: auto;
            }
        }
    }
    .key-list {
        @include flex-direction(column);

        @include respond-between(sm, tb) {
            padding: 15px 15px 15px 30px;
        }
        @include respond-above(tb) {
            padding: 0 15px;
        }
        @include respond-above(md) {
            @include justify-content(space-between);
            @include flex-direction(row);
        }
    }
    .key-box {
        margin-bottom: 3em;
        @include respond-above(md) {
            max-width: 420px;
        }
        @include respond-below(sm) {
            @include flex-direction(column);
        }
    }
    .key-box__img {
        z-index: 3;
        position: absolute;
        @include flexbox;
        width: 88px;
        height: 88px;
        margin-bottom: 30px;
        border-radius: 50%;
        @include respond-above(sm) {
            margin-bottom: 30px;
        }
        .img-responsive{
            padding:20%;
        }
    }
    .bg-yellow {
        background: $yellow2;
    }
    .bg-magenta {
        background: $magenta;
    }
    .key-box__text {
        position: relative;
        z-index: 1;
        height: calc(100% - 45px);
        background: #FFF;
        border-radius: 8px;
        margin: 45px 0 0 35px;
        padding: 25px 30px 20px;

        h5 {
            font-family: 'Oswald', sans-serif;
            margin: 0 0 0.5em;
            font-size: 1.125em;
            text-transform: uppercase;
            padding-left: 30px;
        }

        p {
            margin-bottom: 0;
            font-size: 1em;
            color: #808080;
        }
    }
    .skill-list {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex-wrap(wrap);

        @include respond-between(sm, tb) {
            padding: 15px 15px 15px 30px;
        }
        li {
            @include flex();
            text-align: center;
            margin-bottom: 50px;

            @include respond-above(md) {
                min-width: 25%;
            }
            @include respond-above(tb) {
                min-width: 20%;
            }
        }
        span {
            display: block;
            color: #646464;
            font-size: 1em;
            line-height: 1.3;
            padding-top: 10px;
        }
        img {
            max-width: 44%;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            -webkit-transform: scale(1);
            transform: scale(1);

            &.mw60 {
                max-width: 60%;
            }
            &.mw55 {
                max-width: 55%;
            }
        }
    }
    .skill-img {
        box-shadow: 0px 2px 6px rgba(0,0,0,.1);
        background: #FFF;
        display: inline-grid !important;
        @include inline-flex;
        border-radius: 100%;
        width: 110px;
        height: 110px;

        @include respond-below(md) {
            width: 120px;
            height: 120px;
        }
        &:hover img {
            -webkit-transform: scale(1.15);
            transform: scale(1.15);
        }
    }
    .color1 {
        background: #ffc034;
    }
    .color2 {
        background: #7864ae;
    }
    .color3 {
        background: #f9933d;
    }
    .gredient1 {
        background: #ff9801;
        background: -moz-linear-gradient(top, #ff9801 1%, #f46f6d 100%); 
        background: -webkit-linear-gradient(top, #ff9801 1%,#f46f6d 100%);
        background: linear-gradient(to bottom, #ff9801 1%,#f46f6d 100%);

        @include respond-above(md) {
            background: #ff9801;
            background: -moz-linear-gradient(left, #ff9801 1%, #f46f6d 100%); 
            background: -webkit-linear-gradient(left, #ff9801 1%,#f46f6d 100%);
            background: linear-gradient(to right, #ff9801 1%,#f46f6d 100%);
        }
    }
    .gredient2 {
        background: #f46f6d;
        background: -moz-linear-gradient(top, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
        background: -webkit-linear-gradient(top, #f46f6d 0%,#f46f6d 0%,#0094c7 100%);
        background: linear-gradient(to bottom, #f46f6d 0%,#f46f6d 0%,#0094c7 100%);

        @include respond-above(md) {
            background: #f46f6d;
            background: -moz-linear-gradient(left, #f46f6d 0%, #f46f6d 0%, #0094c7 100%);
            background: -webkit-linear-gradient(left, #f46f6d 0%,#f46f6d 0%,#0094c7 100%);
            background: linear-gradient(to right, #f46f6d 0%,#f46f6d 0%,#0094c7 100%);  
        }
    }
    .gredient3 {
        background: #f46f6d;
        background: -moz-linear-gradient(top, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
        background: -webkit-linear-gradient(top, #f46f6d 0%,#0094c7 0%,#00bbb0 100%);
        background: linear-gradient(to bottom, #f46f6d 0%,#0094c7 0%,#00bbb0 100%);

        @include respond-above(md) {
            background: #f46f6d;
            background: -moz-linear-gradient(left, #f46f6d 0%, #0094c7 0%, #00bbb0 100%);
            background: -webkit-linear-gradient(left, #f46f6d 0%,#0094c7 0%,#00bbb0 100%);
            background: linear-gradient(to right, #f46f6d 0%,#0094c7 0%,#00bbb0 100%);
        }
    }
    .gredient4 {
        background: #00bbb0;
        background: -moz-linear-gradient(top, #00bbb0 0%, #f46f6d 100%);
        background: -webkit-linear-gradient(top, #00bbb0 0%,#f46f6d 100%);
        background: linear-gradient(to bottom, #00bbb0 0%,#f46f6d 100%);

        @include respond-above(md) {
            background: #00bbb0;
            background: -moz-linear-gradient(left, #00bbb0 0%, #f46f6d 100%);
            background: -webkit-linear-gradient(left, #00bbb0 0%,#f46f6d 100%);
            background: linear-gradient(to right, #00bbb0 0%,#f46f6d 100%);
        }

    }
    .gredient5 {
        background: #f46f6d;
        background: -moz-linear-gradient(top, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
        background: -webkit-linear-gradient(top, #f46f6d 0%,#005ea6 100%,#00bbb0 100%);
        background: linear-gradient(to bottom, #f46f6d 0%,#005ea6 100%,#00bbb0 100%);

        @include respond-above(md) {
            background: #f46f6d;
            background: -moz-linear-gradient(left, #f46f6d 0%, #005ea6 100%, #00bbb0 100%);
            background: -webkit-linear-gradient(left, #f46f6d 0%,#005ea6 100%,#00bbb0 100%);
            background: linear-gradient(to right, #f46f6d 0%,#005ea6 100%,#00bbb0 100%);
        }
    }
    .about-sprite {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;

        em {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            position: relative;
            border-radius: 50%;
            margin: auto;
            width: 100%;
            height: 100%;

            &:hover > img{
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
            }
        }

        img {
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    .mission-box {
        position: relative;
        width: 123px;
        height: 104px;
        background: #FFF;
        text-align: center;
        box-shadow: 2px 5px 5px rgba(0,0,0,0.14);

        .gredient-line {
            width: calc(100% + 30px);
            height: 8px;
            position: absolute;
            bottom: -4px;
            left: 50%;
            z-index: 1;

            @include respond-below(md) {
                width: 8px;
                height: calc(100% + 30px);
                bottom: 0;
                left: -4px;
                top: 50%;
            }
        }

        p {
            font-size: 0.875em;
            font-weight: 700;
            line-height: 1.3;
            margin: 0 auto;
            max-width: 98px;
        }
    }
    .down-arrow {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 20px solid;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 11px;
    }
    .arrow-orange {
        color: #ff9801;
    }
    .arrow-pink {
        color: #f46f6d;
    }
    .arrow-blue {
        color: #0094c7;
    }
    .arrow-sky {
        color: #00bbb0;
    }
    .arrow-dark-blue {
        color: #005ea6;
    }
    ._orange {
        background: #ff9801;
    }
    ._pink {
        background: #f46f6d;
    }
    ._blue {
        background: #0094c7;
    }
    ._sky {
        background: #00bbb0;
    }
    ._dark-blue {
        background: #005ea6;
    }
    .box-num {
        color: #FFF;
        display: block;
        width: 26px;
        height: 26px;
        line-height: 27px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -13px;
        z-index: 2;
    }
}
.key_list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    @include respond-above(md) {
        @include justify-content(space-around);
        @include flex-wrap(wrap);

        &:before {
            content: '';
            display: block;
            width: calc(100% - 123px);
            position: absolute;
            border-bottom: 3px solid;
        }
    }

    @include respond-below(md) {
        @include flex-direction(column);
        margin-left: 25%;
    }
    @include respond-below(sm) {
        margin-left: 15%;
    }

    li {
        text-align: center;
        @include respond-below(md) {
            position: relative;
            padding-bottom: 30px;
            &:not(.mob-heading) {
                border-left: 3px solid #212121;
            }
            
            &:not(.mob-heading):before {
                content: "";
                position: absolute;
                width: 50%;
                display: inline-block;
                height: 0;
                margin: 0 auto;
                border-bottom: 3px solid #212121;
                top: 50px;
                left: 0;
            }
        }
        @include respond-above(md) {
            &:not(.no-line):before {
                content: "";
                position: relative;
                height: 120px;
                display: block;
                width: 0;
                margin: 0 auto;
                border-left: 3px solid #212121;
            }
        }
    }
    .last-list {
        @include respond-below(md) {
            &:after {
                content: "";
                background: #f3f3f3;
                position: absolute;
                width: 5px;
                height: calc(100% - 54px);
                left: -4px;
                bottom: 0;
            }
        }
    }
    .mob-heading {
        @include respond-below(md) {
            display: block;
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                border: 2px solid #212121;
                display: block;
                position: absolute;
                bottom: 0;
                left: -9px;
                border-radius: 50%;
                background: #ada7a7;
            }
        }
        @include respond-above(md) {
            display: none;
        }
        h2 {
            text-align: left;
        }
    }
    h2 {
        margin: 0;
        font-family: Oswald, sans-serif;
        text-align: center;
        @include respond-below(md) {
            margin-left: -20px;
        }

        @include respond-above(md) {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            
            &:before, &:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                background: #ada7a7;
                border: 2px solid #000;
                border-radius: 50%;
                top: 5px;
            }
            &:before {
                left: -38px;
            }
            &:after {
                right: -38px;
            }
        }
    }
    big {
        position: relative;
        z-index: 3;
        font-size: 100%;
        background: #f3f3f3;

        @include respond-above(md) {
            &:before, &:after {
                content: "";
                width: 20px;
                display: inline-block;
                position: absolute;
                background: #f3f3f3;
                height: 36px;
                top: 0;
            }
            &:before {
                left: -20px;
            }
            &:after {
                right: -20px;
            }
        }
    }
    span {
        padding-top: 10px;
        display: block;
    }

    @include respond-below(md) {
        .no-line {
            display: none;
        }
    }
}
.keys-box {
    .own-container {
        max-width: 920px;
    }
    .own-container-inner {
        max-width: 850px;
    }
}
@-webkit-keyframes water-wave {
    0% {
        border-radius: 120px 135px 110px 90px;
    }
    25% {
        border-radius: 130px 140px 100px 110px;
    }
    50% {
        border-radius: 110px 97px 150px 100px;
    }
    75% {
        border-radius: 80px 107px 120px 90px;
    }
    100% {
        border-radius: 120px 135px 110px 90px;
    }
}
@-moz-keyframes water-wave {
    0% {
        border-radius: 120px 135px 110px 90px;
    }
    25% {
        border-radius: 130px 140px 100px 110px;
    }
    50% {
        border-radius: 110px 97px 150px 100px;
    }
    75% {
        border-radius: 80px 107px 120px 90px;
    }
    100% {
        border-radius: 120px 135px 110px 90px;
    }
}
@-o-keyframes water-wave {
    0% {
        border-radius: 120px 135px 110px 90px;
    }
    25% {
        border-radius: 130px 140px 100px 110px;
    }
    50% {
        border-radius: 110px 97px 150px 100px;
    }
    75% {
        border-radius: 80px 107px 120px 90px;
    }
    100% {
        border-radius: 120px 135px 110px 90px;
    }
}
@keyframes water-wave {
    0% {
        border-radius: 120px 135px 110px 90px;
    }
    25% {
        border-radius: 130px 140px 100px 110px;
    }
    50% {
        border-radius: 110px 97px 150px 100px;
    }
    75% {
        border-radius: 80px 107px 120px 90px;
    }
    100% {
        border-radius: 120px 135px 110px 90px;
    }
}


@import 'components/footer';
@import 'components/modal';
