.footer {

    .column-wrapper {
        position: relative;
        padding: 65px 20px 65px;
        background-color: #000;
        @include flexbox;
        @include justify-content(space-between);
        @include flex-direction(column);

        @media screen and (min-width: 768px) {
            @include flex-direction(row);
        }
        @media screen and (min-width: 992px) {
            padding: 65px 65px 65px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a, li {
        text-decoration: none;
        color: #FFF;
    }

    li {
        margin-bottom: 10px;
    }

    li:first-child {
        text-transform: uppercase;
        font-size: 1.125em;
        margin-bottom: 26px;
    }
    
    .mb30 {
        margin-bottom: 30px;
    }

    .footer-logo {
        position: absolute;
        right: 31px;
        bottom: 10px;
    }

    .copyright {
        margin: 0;
        padding: 25px 15px;
        font-weight: 300;
        color: #000;

        @include respond-below(xs) {
            text-align: center;
        }
    }
}

@include respond-below(sm) {
    .column + .column {
        margin-top: 50px;
    }
}