.modal-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 99;
    text-align: center;
    background: transparentize(#000, .15);
    padding: 20px;

    @include respond-above(sm) {
        padding: 50px;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 1;
    }
    .modal-content {
        position: relative;
        z-index: 2;
        background: #FFF;
        border-radius: 8px;
        display: inline-block;
        @include respond-above(sm) {
            min-width: 500px;
        }
    }
    .img-responsive {
        border-radius: 8px;
        overflow: hidden;
    }
    [src="img/loader.gif"] {
        padding: 50px;
    }
    .btn-cross {
        position: absolute;
        right: -19px;
        top: -19px;
    }
}

.modal-open {
    overflow: hidden;

    .modal-box {
        visibility: visible;
        opacity: 1;
    }
}