#fp-nav ul li, .fp-slidesNav ul li {
    height: 24px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 8px;
    width: 8px;
    background: #FFF;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li .fp-tooltip.fp-right {
    line-height: 30px;
    background: rgba(0,0,0,.5);
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    margin-right: 16px;
    overflow: inherit;

    &::after {
        content: "";
        border-left: 20px solid rgba(0,0,0,.5);
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        position: absolute;
        left: 100%;
    }
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: initial;
    background: #009bb6;
    transform: rotate(45deg);
}