.btn-default {
    font-size: 0.9125em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 7px 10px;
    border: 1px solid;
    display: inline-block;

    &:hover {
        color: #FFF;
    }
}

.btn--white {
    color: #FFF;

    &:hover {
        border-color: #FFF;
        background-color: #FFF;
        color: #000;
    }
}
.btn--blue {
    color: $blue;

    &:hover {
        border-color: $blue;
        background: $blue;
        color: #FFF;
    }
}