h1, h2, h3, h4, h5, h6 {
    font-family: 'Gupter', sans-serif;
}
h1 {
    font-size: 80px;
    line-height: 1;
}
.topic-list li {
    display: inline-block;
    margin: 0 10px 10px;
}

.topic-list a {
    display: block;
    background: lightblue;
    border-radius: 40px;
    padding: 5px 15px 5px 5px;
    text-decoration: none;
    color: #212121;
}
.topic-list a:hover {
    background: darkblue;
    color: #F1f1f1;
}
.topic-list span {
    display: inline-block;
    padding: 5px;
    background: #666;
    border-radius: 50%;
    color: #FFF;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 1;
    margin-right: 10px;
    vertical-align: middle;
}
